<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Search Google Books</title>
    <link href="./styles/main.css" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <header>

    </header>
    <div id="app">
            <!--Title-->
            <div class="row text-center">
                <h1 class="">What books are you interested in?</h1>
            </div>
            <form @submit.prevent="searchForBooks">
                <fieldset>
                    <br>
                    <!--Label and text input-->
                    <div class="form-group row justify-content-center">
                        <label for="keyword" class="col-sm-1 col-form-label center-align">Keyword</label>
                        <div class="col-sm-4 col-md-3">
                            <input type="text" name="keyword" id="keyword" placeholder="Comedy" class="form-control" v-model="keyword">
                        </div>
                    </div>
                    <!--Error Message-->
                    <div class="row justify-content-center">
                        <div id="error-msg" class="col-sm-4 col-md-3 offset-1 invisble"></div>
                    </div>
                    <br>
                    <!--Buttons-->
                    <div class="row justify-content-center">
                        <button type="submit" class="btn btn-primary col-sm-1">Search</button>
                        <button type="reset" class="btn btn-danger col-sm-1">Reset</button>
                    </div>
                </fieldset>
            </form>
            <div id="book-shelf">
                <div v-if="books != null" class="row">
                    <h2 class="text-center">Here are the TOP {{books.items.length}} books</h2>
                </div>
                <div v-if="books != null" class="row">
                    <book v-for="book in books.items" :key="book.id" :book="JSON.stringify(book)" :image="(book.volumeInfo.hasOwnProperty('imageLinks')? true: false)"></book>
                </div> 
            </div>
    </div>

    <!-- keyword el on main.js script is already mounting our app, but you can also use the following-->
    <!--<script>
        const mountedApp = app.mount("#app");
    </script>-->
    <!--JS VUE Script-->
    <script src="https://unpkg.com/vue"></script>
    <script type="text/javascript" src="./scripts/main.js"></script>
    <script type="text/javascript" src="./scripts/components/book.js"></script>
</body>

</html>