* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.book-template {
    min-width: auto;
    height: 500px;
    background-color: lightgrey;
    perspective: 1000px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: scroll;
}
.book-content {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 0.5s;
    transform-style: preserve-3d;
}

.book-template:hover .book-content {
    transform: rotateY(180deg);
}

.book-cover, .book-description{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.book-cover img {
    width: 100%;
    height: 100%;
}
.book-cover h2 {
    width: 100%;
    height: 100%;
}

.book-cover{
    background-color: white;
}
  
.book-description {
    transform: rotateY(180deg);
}

.description {
    width: 100%;
    height: 40%;
    overflow: scroll;
}